@import url('./fonts/pretendard/index.css');

:root {
  --color-semantic-border-solid-bk-01: var(--color-atomic-cool-neutral-5, #0f0f10);
  --color-semantic-border-solid-bk-02: var(--color-atomic-cool-neutral-50, #70737c);
  --color-semantic-border-solid-bk-03: var(--color-atomic-cool-neutral-95, #dbdcdf);
  --color-semantic-border-solid-bk-04: var(--color-atomic-cool-neutral-98, #f4f4f5);
  --color-semantic-border-solid-brand: var(--color-atomic-brand-50, #ff7039);
  --color-semantic-border-solid-positive: var(--color-atomic-blue-50, #0066ff);
  --color-semantic-border-solid-negative: var(--color-atomic-red-40, #e52222);
  --color-semantic-border-solid-success: var(--color-atomic-green-50, #00bf40);
  --color-semantic-border-solid-warning: var(--color-atomic-yellow-70, #ffc90a);
  --color-semantic-border-transparency-bk-01: var(--color-atomic-transparency-black-70, rgba(23, 23, 25, 0.7));
  --color-semantic-border-transparency-bk-02: var(--color-atomic-transparency-black-15, rgba(23, 23, 25, 0.15));
  --color-semantic-border-transparency-bk-03: var(--color-atomic-transparency-black-5, rgba(23, 23, 25, 0.05));
  --color-semantic-border-transparency-brand-01: var(--color-atomic-transparency-brand-90, rgba(255, 112, 57, 0.9));
  --color-semantic-border-transparency-brand-02: var(--color-atomic-transparency-brand-10, rgba(255, 112, 57, 0.1));
  --color-semantic-foreground-bk-01: var(--color-atomic-cool-neutral-5, #0f0f10);
  --color-semantic-foreground-bk-02: var(--color-atomic-cool-neutral-20, #292a2d);
  --color-semantic-foreground-bk-03: var(--color-atomic-cool-neutral-70, #989ba2);
  --color-semantic-foreground-bk-04: var(--color-atomic-transparency-black-20, rgba(23, 23, 25, 0.2));
  --color-semantic-foreground-wt-01: var(--color-atomic-common-100, #ffffff);
  --color-semantic-foreground-wt-02: var(--color-atomic-cool-neutral-98, #f4f4f5);
  --color-semantic-foreground-brand-01: var(--color-atomic-brand-50, #ff7039);
  --color-semantic-foreground-brand-02: var(--color-atomic-brand-60, #ff8b5e);
  --color-semantic-foreground-brand-03: var(--color-atomic-brand-70, #ffab8d);
  --color-semantic-foreground-blue-01: var(--color-atomic-blue-50, #0066ff);
  --color-semantic-foreground-blue-01-strong: var(--color-atomic-blue-40, #0054d1);
  --color-semantic-foreground-negative: var(--color-atomic-red-50, #ff4242);
  --color-semantic-foreground-success: var(--color-atomic-green-50, #00bf40);
  --color-semantic-foreground-warning: var(--color-atomic-yellow-70, #ffc90a);
  --color-semantic-background-wt-01: var(--color-atomic-common-100, #ffffff);
  --color-semantic-background-wt-02: var(--color-atomic-cool-neutral-99, #f7f7f8);
  --color-semantic-background-wt-03: var(--color-atomic-transparency-black-5, rgba(23, 23, 25, 0.05));
  --color-semantic-background-wt-04: var(--color-atomic-cool-neutral-95, #dbdcdf);
  --color-semantic-background-bk-01: var(--color-atomic-neutral-20, #2a2a2a);
  --color-semantic-background-bk-02: var(--color-atomic-transparency-black-40, rgba(23, 23, 25, 0.4));
  --color-semantic-background-bk-03: var(--color-atomic-cool-neutral-98, #f4f4f5);
  --color-semantic-background-brand-01: var(--color-atomic-brand-50, #ff7039);
  --color-semantic-background-brand-02: var(--color-atomic-brand-60, #ff8b5e);
  --color-semantic-background-brand-03: var(--color-atomic-brand-95, #fcebe6);
  --color-semantic-background-positive: var(--color-atomic-blue-95, #eaf2fe);
  --color-semantic-background-negative: var(--color-atomic-red-95, #feecec);
  --color-semantic-background-success: var(--color-atomic-green-95, #d9ffe6);
  --color-semantic-background-warning: var(--color-atomic-yellow-95, #fff4d2);
  --color-semantic-state-bk-01: var(--color-atomic-transparency-black-10, rgba(23, 23, 25, 0.1));
  --color-semantic-state-bk-02: var(--color-atomic-transparency-black-5, rgba(23, 23, 25, 0.05));
  --color-semantic-state-bk-none: var(--color-atomic-transparency-black-0, rgba(23, 23, 25, 0));
  --color-semantic-state-brand-01: var(--color-atomic-transparency-brand-10, rgba(255, 112, 57, 0.1));
  --color-semantic-state-brand-02: var(--color-atomic-transparency-brand-5, rgba(255, 112, 57, 0.05));
  --color-semantic-state-brand-none: var(--color-atomic-transparency-brand-0, rgba(255, 112, 57, 0));
  --color-semantic-state-wt-01: var(--color-atomic-transparency-white-15, rgba(255, 255, 255, 0.15));
  --color-semantic-state-wt-02: var(--color-atomic-transparency-white-10, rgba(255, 255, 255, 0.1));
  --color-semantic-state-wt-none: var(--color-atomic-transparency-white-0, rgba(255, 255, 255, 0));
  --font-families-base: var(--pretendard, Pretendard);
}