@use 'scss/mixin' as *;

@mixin avatar-size($size) {
  width: $size;
  height: $size;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-semantic-border-transparency-bk-03, rgba(23, 23, 25, 0.05));
  background: var(--color-semantic-background-wt-03, rgba(23, 23, 25, 0.05));

  i {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    color: var(--color-semantic-foreground-bk-04, rgba(23, 23, 25, 0.20));
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &.circle {
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }

  &.square {
    border-radius: 6px;
     img {
      border-radius: 6px;
    }
  }

  &.size-xs {
    @include avatar-size(20px);
  }

  &.size-s {
    @include avatar-size(32px);
  }

  &.size-m {
    @include avatar-size(40px);
  }
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}