@use 'scss/mixin' as *;

.wrapper {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 14px 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-semantic-border-transparency-bk-03, rgba(23, 23, 25, 0.05));
  background: var(--color-semantic-background-wt-02, #f7f7f8);
}

.content {
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-start;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
}
.title {
  @include text-body1;
  color: var(--color-semantic-foreground-bk-01, #0f0f10);
}
.description {
  @include text-body2(regular);
  color: var(--color-semantic-foreground-bk-02, #292a2d);
}
.trailing {
}
