*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation; /* 모바일브라우저에서 두번탭했을 때 확대되는 기능 비활성화 */
}
html:focus-within {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
button,
div[role='button'] {
  /* 모바일브라우저에서 클랙 피드백 효과 초기화 */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
input,
textarea {
  all: unset;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
